# -------------------------------
# PYCHARM & BUILD ARTIFACTS
# -------------------------------
.idea/
build/
dist/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
*.egg-info/
*.egg
*.so
*.pyd
*.dll
.pytest_tmp/
*venv/
*.db
*.db*

# -------------------------------
# PACKAGE DATA
# -------------------------------

# Ignore everything inside OUTPUT, but keep the folder itself
src/shinier/data/OUTPUT/*
!src/shinier/data/OUTPUT/.gitkeep

# Ignore everything inside INPUT and MASK, but allow specific test files
src/shinier/data/INPUT/*
src/shinier/data/MASK/*

# Re-allow folders (so Git can descend into them)
!src/shinier/data/INPUT/
!src/shinier/data/MASK/

# Re-allow specific test assets
!src/shinier/data/INPUT/test_face*.jpeg
!src/shinier/data/INPUT/test_scene*.jpeg
!src/shinier/data/MASK/mask.png

# -------------------------------
# TESTS
# -------------------------------
tests/assets/tmp/*
!tests/assets/SAMPLE_64X64/test_face*.png
!tests/assets/SAMPLE_64X64/test_scene*.png
!tests/assets/SAMPLE_512X512/test_face*.png
!tests/assets/SAMPLE_512X512/test_scene*.png