# -------------------------------
# PYCHARM & BUILD ARTIFACTS
# -------------------------------
.idea/
build/
dist/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
*.egg-info/
*.egg
*.so
*.pyd
*.dll
.pytest_tmp/
*.db

# -------------------------------
# PACKAGE DATA
# -------------------------------

# Ignore everything inside OUTPUT, but keep the folder itself
OUTPUT/*
!OUTPUT/.gitkeep

# Ignore everything inside INPUT and MASK, but allow specific test files
INPUT/*
MASK/*

# Re-allow folders (so Git can descend into them)
!INPUT/
!MASK/

# Re-allow specific test assets
!INPUT/test_face*.png
!INPUT/test_scene*.png
!MASK/mask.png

# -------------------------------
# TESTS
# -------------------------------
tests/IMAGES/tmp/*
!tests/IMAGES/SAMPLE_64X64/test_face*.png
!tests/IMAGES/SAMPLE_64X64/test_scene*.png
!tests/IMAGES/SAMPLE_512X512/test_face*.png
!tests/IMAGES/SAMPLE_512X512/test_scene*.png