name: JOSS draft PDF

on:
  push:
    paths:
      - "documentation/papers/SHINIER/paper/**"
  workflow_dispatch:

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # Path to your paper.md inside the repo
          paper-path: documentation/papers/SHINIER/paper/paper.md

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: documentation/papers/SHINIER/paper/paper.pdf
